:root {
  --background-header: #012d63;
  --background-footer: #021635;
  --color-text-header: #c7c7c7;
  --attention-color: #fff;
  --language-color: #dcdcdc;
  --background-button: #8e32c6;
  --color-date: #d8d8d8;
  --color-placeholder: #959595;
  --after-section: #9b9b9b;
  --background-gradient1: rgb(142, 50, 198);
  --background-gradient2: linear-gradient(
    212deg,
    rgba(142, 50, 198, 1) 29%,
    rgba(1, 45, 99, 1) 55%
  );
  --button-current: green;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: var(--background-header);
  padding: 15px 0px;
}
.logo > img {
  width: 100px;
  height: 60px;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-flex {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-left: 150px;
}
.nav-list > li:not(:last-child) {
  margin-right: 30px;
}
.nav-text {
  color: var(--color-text-header);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.nav-text:hover {
  color: var(--attention-color);
  font-weight: 400;
}
.now-nav-text {
  color: var(--attention-color);
  font-weight: 400;
}

.ul-language {
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.ul-language > li:not(:last-child) {
  margin-right: 5px;
}
.language-text {
  color: var(--language-color);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.language-text:hover {
  color: var(--attention-color);
  font-weight: 400;
}
.now-language {
  color: var(--attention-color);
  font-weight: 400;
}
.section-hero {
  padding: 90px 0px 150px;
  background: var(--background-gradient1);
  background: var(var(--background-gradient2));
  background: url(./assets/img/hero-background.webp) center / cover no-repeat;
}
.a-hero-img {
  width: 160px;
  height: 120px;
}
.text-logo {
  color: var(--attention-color);
  font-family: 'PT Serif', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
}
.h2-hero {
  color: var(--attention-color);
  font-family: 'Playfair Display', sans-serif;
  font-size: 144px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h3-hero {
  color: var(--attention-color);
  font-family: 'Playfair Display', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.text-hero {
  color: var(--attention-color);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box-text {
  width: 508px;
  height: 84px;
  margin-bottom: 40px;
}
.button-hero {
  width: 254px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--background-button);
}
.button-hero:hover {
  background: var(--button-current);
}
.button-hero > p {
  color: var(--attention-color);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.client-section {
  padding: 105px 0px;
  background: var(--background-gradient1);
  background: var(--background-gradient2);
  background: url(./assets/img/background-forSVGs.webp) center / cover no-repeat;
}
/*  */
.client-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;
  border: 5px solid var(--background-button);
}
.client-li {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.li1 {
  padding: 0 50px;
}
.li2 {
  padding: 0 50px;
}
.client-img {
  display: block;

  margin: 0 auto;
}
/*  */
.client-li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.after-div1::after {
  content: '';
  background-image: url(./assets/img/star-benefit.png);
  width: 240px;
  height: 240px;
  background-repeat: no-repeat;
}
.after-div2::after {
  content: '';
  width: 240px;
  height: 240px;
  background-image: url(./assets/img/van-benefit.png);
  background-repeat: no-repeat;
}
.before-div1::before {
  width: 240px;
  height: 240px;
  content: '';
  background-image: url(./assets/img/paint-benefit.png);
  background-repeat: no-repeat;
}
.biggest-li-client {
  display: flex;
  flex-direction: column-reverse;
  padding: 0px 95px;
  border-right: 1px solid var(--attention-color);
  border-left: 1px solid var(--attention-color);
  align-items: center;
  /*  */
}
.client-text {
  color: var(--attention-color);
  text-align: center;
  margin: 0 auto;
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  width: 150px;
  line-height: normal;
}
.text-div {
  /*  */
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.reviews-section {
  background: var(--background-gradient1);
  background: var(--background-gradient2);
  padding-top: 25px;
  padding-bottom: 114px;
  background-image: url(./assets/img/plants.webp), url(./assets/img/background-forSVGs.webp);
  background-size: auto, cover;
  background-position: left, center;
  background-repeat: no-repeat, no-repeat;
  background-position-y: bottom, center;
  background-position-x: left, center;
}
.reviews-header {
  color: var(--attention-color);
  margin-bottom: 24px;
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.firstperson-div::before {
  width: 31px;
  height: 31px;
  display: block;
  border-radius: 31px;
  content: '';
  background-repeat: no-repeat;
  background-image: url(./assets/img/first-person.png);
}
.secondperson-div::before {
  width: 31px;
  height: 31px;
  border-radius: 31px;
  background-repeat: no-repeat;
  content: '';
  background-image: url(./assets/img/second-person.png);
}
.thirdperson-div::before {
  width: 31px;
  height: 31px;
  border-radius: 31px;
  background-repeat: no-repeat;
  content: '';
  background-image: url(./assets/img/third-person.png);
}
.reviews-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-li:not(:last-child) {
  margin-right: 90px;
}
.reviews-li {
  padding: 50px 9px 30px 18px;
}
.first-reviews-li {
  border-radius: 15px;
  background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7b54b2;
}
.second-reviews-li {
  border-radius: 15px;
  background: linear-gradient(135deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
  box-shadow: 0px 30px 0px -13px #61337c, 0px 14px 0px -5px #9159b1;
}
.third-reviews-li {
  border-radius: 15px;
  background: linear-gradient(135deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
  box-shadow: 0px 30px 0px -13px #732f26, 0px 14px 0px -5px #b95a4c;
}
.client-comment {
  color: var(--attention-color);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.client-date {
  color: var(--color-date);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 47px;
}
.client-name {
  color: var(--attention-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.client-session {
  color: var(--color-date);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.account-div {
  display: flex;
  justify-content: center;
}
.text-account-div {
  margin-left: 5px;
}
.comment-div {
  width: 228px;
}
.form-section {
  padding-top: 20px;
  padding-bottom: 37px;
  background: var(--background-gradient1);
  background: var(--background-gradient2);
  background: url(./assets/img/input-background.webp) center / cover no-repeat;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-form {
  position: relative;
}
.wrapper-input {
  width: 690px;
  height: 60px;
  border-radius: 50px;
  background: #fff;
  padding: 12px 0px;
  padding-left: 12px;
  color: #959595;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 0px;
  padding-left: 25px;
}
.wrapper-input::placeholder {
  color: #959595;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper-button {
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  right: 80px;
  border: none;
  padding: 13px 0px;
}
.wrapper-button:hover p {
  color: red;
}
/* .wrapper-button:hover > p {
  color: var(--attention-color);
} */
.wrapper-button > p {
  color: #8d8d8d;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-input::placeholder {
  color: #959595;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input:not(:last-child) {
  margin-bottom: 20px;
}
.small-input {
  width: 580px;
  height: 50px;
  border-radius: 50px;
  background: #fff;
  color: #959595;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 11px 0px;
  padding-left: 25px;
}
.form-header {
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 33px;
  line-height: normal;
}
.final-button {
  margin-top: 20px;
  display: block;
  width: 248px;
  height: 68px;
  border-radius: 16px;
  background: #8e32c6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.final-button:hover {
  background: var(--button-current);
}

.final-button > p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer {
  padding-top: 45px;
  padding-bottom: 50px;
  background: #021635;
}
/* не застосувалось */
.footer-ul::after {
  content: '';
  width: 1110px;
  height: 1px;
  margin-top: 20px;
  background: var(--after-section);
  display: block;
}
/* .footerli-after::after {
  content: '';
  width: 1110px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 24px;
  background: var(--after-section);
} */
.footer-li {
  display: flex;
  justify-content: space-between;
}
.question-email {
  text-decoration: underline;
  color: var(--attention-color);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.question-p {
  color: var(--attention-color);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer2-ul {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.li-flexend {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer2-ul:first-child {
  margin-top: 24px;
}
.footer2-p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.margin-p {
  margin-bottom: 7px;
}
.footerlogo-text {
  color: var(--attention-color);
  font-family: 'PT Serif', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-logo {
  width: 108px;
  height: 81px;
}
.margin-liafter {
  margin-top: 25px;
}
